@charset "UTF-8";

/* 回答はここに書いてね */
/* q7-1 */
.q7__box{
  width: 225px;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.q7--float .q7__box__float {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}
.q7--float .q7__box__float:first-child {
  margin-left: 0;
}


/* q7-2 */
.q7--table  .q7__inner{
  display: table;
}
.q7--table  .q7__box__table{
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.q7--table  .q7__box__table:first-child{
  padding-left: 0;
}
.q7--table  .q7__box__text{
  font-size: 16px;
}


/* q7-3 */
.q7--inlineblock  .q7__inner{
  font-size: 0;
}
.q7--inlineblock  .q7__box__inlineblock{
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}
.q7--inlineblock  .q7__box__inlineblock:first-child{
  margin-left: 0;
}


/* q7-4 */
.q7--flex .q7__4{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.q7--flex .q7__box__flex{
  box-sizing: border-box;
}


/* q7-5 */
.q7--margin .q7__inner {
  font-size: 0;
}
.q7--margin .q7__box {
  vertical-align: top;
}
.q7--margin .q7__box.is-stable {
  display: inline-block;
  width: 300px;
}
.q7--margin .q7__box.is-flexible {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}
.q7--margin .q7__box__text {
  font-size: 16px;
}
/* 回答はここに書いてね */
