@charset "UTF-8";

/* 回答はここに書いてね */
.all__cell{
  padding: 20px;
  box-sizing: border-box;
}
.container{
  display: table;
  margin-top: 20px;
  width: 100%;
}
.container:first-child{
  margin-top: 0;
}
.cell{
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.cell_pink{
  background-color: #fbc8b8;
  width: 100px;
}
.cell_purple{
  background-color: #e0abd9;
}
.cell_blue{
  background-color: #b6d8ed;
  width: 100px;
}
.cell_yellow{
  background-color: #e5d32e;
}
.cell_red{
  background-color: #ec8f9a;
}
.cell_green{
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
