@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
.q3_table .blue{
  color: #fff;
  background-color: #2244aa;
  line-height: 26px;
  font-size: 18px;
}
.yokoretu:nth-child(2n+1){
  background-color: #ecf1f2;
}
.yokoretu,.blue,.hinnsyu{
  border: solid #dedede 1px;
  padding: 10px;
}
.hinnsyu{
  font-size: 16px;
  line-height: 22px;
}
.yokoretu:last-child{
  border-top: dashed  #000000 2px;
}
/* 回答はここに書いてね */
